* {
  box-sizing: border-box;
}

body {
  font-family: 'Anybody', cursive;
  font-weight: 400;
  background-color: grey;
}

p {
  font-size: 32px;
}

#gametext {
  margin: 0;
}

// font-family: 'Anybody', cursive;
// font-family: 'Orbitron', sans-serif;