@use "../utilities" as *;

.board-container {
  display: flex;
  justify-content: center;
}

.keyboard {
  max-width: 600px;
  padding: 10px; 
  background-color: rgb(32, 32, 32);
  display: grid;
  grid-template-columns: repeat(20, minmax(10px, 50px));
  grid-template-rows: repeat(3, minmax(10px, 50px));
  grid-gap: 2px 5px;
  border-radius: 10px;
  border-left:3px solid rgb(48, 48, 48);
  border-right:3px solid rgb(48, 48, 48);
  border-bottom:6px solid rgb(48, 48, 48);
  .key {
    font-weight: 600;
    font-size: 1.25em;
    padding: 0;
    color: black;
    background-color: $key;
    grid-column: span 2;
    border-radius: 5px;
    border-style: none;
    border-right: 5px solid darken($key, 15%);
    border-left: 5px solid darken($key, 15%);
    border-bottom: 10px solid darken($key, 50%);
    &:active {
      border-bottom: 5px solid darken($key, 50%);
      margin-top: 5px;
    }
  }
  #a {
    grid-column-start: 2;
    grid-column-end: 4;
  }
  #z {
    grid-column-start: 3;
    grid-column-end: 5
  }
  #sf:disabled {
    background-color: ghostwhite;
  }
  
}

@media (max-width: 360px) {
  .keyboard {
    grid-template-columns: repeat(20, minmax(10px, 35px));
    grid-template-rows: repeat(3, minmax(10px, 50px));
    .key {
      font-size: .85em;
      border-right: 3px solid darken($key, 15%);
      border-left: 3px solid darken($key, 15%);
      border-bottom: 6px solid grey;
      &:active {
        border-bottom: 3px solid grey;
        margin-top: 3px;
      }
    }
  }
}


